<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>proyecto</title>


    

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">
            <div class="card border-primary">
                <form action="/register" method="post">
                    <div class="mb-3">
                        <label for="name" class="form.label">Nombre completo</label>
                        <input id="name" name="name"  type="text" class="form-control" aria-describedby="emailhelp">
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form.label">cuenta de usuario</label>
                        <input id="user" name="user"  type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form.label">password</label>
                        <input id="pass" name="pass"  type="password" class="form-control">
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">registrar</button>
                    
                </form>
            </div>
        </div>
    </div>

</div>


    
  </body>
</html>
